{% extends 'base.html' %} {% block content %}
<!-- banner-2 -->
<div class="page-head_agile_info_w3l">

  </div>
  <!-- //banner-2 -->
  <!-- page -->
  <div class="services-breadcrumb">
    <div class="agile_inner_breadcrumb">
      <div class="container">
        <ul class="w3_short">
          <li>
            <a href="administrator/index.html">Home</a>
            <i>|</i>
          </li>
          <li>About Us</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- //page -->

  <!-- about -->
  <div class="welcome py-sm-5 py-4">
    <div class="container py-xl-4 py-lg-2">
      <!-- tittle heading -->
      <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
        <span>A</span>bout
        <span>U</span>s</h3>
      <!-- //tittle heading -->
      <div class="row">
        <div class="col-lg-6 welcome-left">
          <h3>Welcome</h3>
          <h4 class="my-sm-3 my-2">HealthCare and medicine are major are major sectors in the world. The healthcare aims in providing best medicinal infrastructure to the human beings. Thus the need for medicine research also has increased. Natural medicine or natural cause have become more popular now a days. It has a deep history and traditions. The health is major part of our life, we cannot make negligency in any of the situation, whether it is minor or major disease. In current era the food we intake is not well nutritioned as compared to the days of 90s. Based on the food culture in nowadays the people are suffering from some diseases. Medical Science has given its contribution in almost all the fields it exists.</h4>
          <p>The people are going to the herbal treatment. Today the people are living in tight schedules. They wont spend their time for their health issues, rather they focus on earnings. In the busy schedule people started using capsules,tablets and some other treatments to cure their diseases. That may effect their health with side effects,allergies. </p>
        </div>
        <div class="col-lg-6 welcome-right-top mt-lg-0 mt-sm-5 mt-4">
          <img src="/static/images/photo2.jpg" class="img-fluid" alt=" ">
        </div>
      </div>
    </div>
  </div>

{% endblock %}
