{% extends 'administrator/base.html' %}
{% block main %}
    <div class="body_scroll">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>Canceled  Product Orders</h2>
                    
                    
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">
                    
                </div>
            </div>
        </div>
<div class="container-fluid">
<div class="row clearfix">
<div class="col-lg-12">
    <div class="card">
        <div class="body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Customer Name</th>
                                    <th>Mobile</th>
                                    <th>Email</th>
                                    <th>Shipping Address</th>
                                    <th>Order Date</th>
                                    <th>Total Order Amount</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                          {% for product_order in product_orders %}
                          <tr>
                              <td>{{ forloop.counter}}</td>
                              <td>{{ product_order.user.full_name}}</td>
                              <td>{{ product_order.user.phone_number}}</td>
                              <td>{{ product_order.user.email}}</td>
                              <td>{{ product_order.shipping_address}}</td>
                              <td>{{ product_order.order_date}}</td>
                              <td>₹{{ product_order.total_order_amount}}/-</td>
                              <td><a class="btn btn-primary" href="{% url 'account:view_order' product_order.id %}">View Order</a></td>
                          </tr>
                          {% endfor %}
                            </tbody>
                        </table>
                    
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
{% include "administrator/dtscripts.html" %}
{% endblock %}